*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#999999;
	font-size:12px;
}
a:hover{
	color:red;
}
/*整体页面宽高背景色*/
body{
	width:100%;
	height:15065px;
	background:#F0F3EF;
}
/*固定定位 返回顶部*/
.fix_backtop{
	position:fixed;
	right:2px;
	bottom:0;
	width:36px;
	height:36px;
	border-radius:7%;
	background:#7A6E6E;
	text-align:center;
	line-height:36px;
	color:white;
	z-index:1000;
}
.fix_topword{
	position:fixed;
	right:36px;
	bottom:0;
	width:50px;
	height:36px;
	background:#C81623;
	text-align:center;
	line-height:36px;
	color:white;
	z-index:999;
	border-radius:7%;
	display:none;
}
.fix_backtop:hover{
	background:#C81623;
}
.fix_smallmask{
	position:fixed;
	right:0;
	width:5px;
	height:100%;
	background:#7A6E6E;
}
.fix_mask{
	position:fixed;
	right:2px;
	width:36px;
	height:36px;
	border-radius:7%;
	background:#7A6E6E;
	text-align:center;
	line-height:36px;
	color:white;
}
.fix_mask:hover{
	background:#C81623;
	cursor:pointer;
}
.fix_maskone{
	top:230px;
}
.fix_masktwo{
	top:267px;
}
.gouwuche{
	font-size:19px;
	color:#eee;
}
.fix_maskthree{
	top:304px;
}
.fix_maskfour{
	top:341px;
}
.fix_maskfive{
	top:378px;
}
.fix_masksix{
	top:415px;
}
.fix_maskseven{
	top:452px;
}
/*菜单栏挂起*/
.nav{		
	width:100%;
	height: 45px;
	border-bottom:5px solid red;
	background: #fff;
	z-index:9999;
	display:none;
}
.nav_img{
	float:left;
	width:118px;
	height:42px;
	margin-left:100px;
}
.nav_search{
	float:left;
	width:550px;
	height:35px;
	border:1px solid #ccc;
	background:#EFEFEF;
	margin-top:5px;
	margin-left:200px;
}
.nav_search .text_search{
	background:#EFEFEF;
}
.nav_search .zhaoxiangji{
	background:#EFEFEF;
}
.fixed{
	position: fixed;
	top:0;
	left:0;
	z-index: 9999;
}
/*顶部广告图*/
.top_adpic{
	position:relative;
	width:100%;
	height:80px;
}
/*清除顶部广告图按钮*/
.top_cancer{
	width:25px;
	height:25px;
	position:absolute;
	color:white;
	background:gray;
	left:1250px;
	top:5px;
	font:16px 微软雅黑;
	color:white;
	opacity:0.5;
	border:1px solid gray;
}
/*顶部导航栏*/
.topnav{
	width:100%;
	height:30px;
	background:#E3E4E5;
}
.top_nav{
	width:1190px;
	height:30px;
	background:#E3E4E5;
	line-height:30px;
	margin:0 auto;
}  
/*顶部导航栏地址*/
.top_nav .top_navaddr{
	display:inline-block;
}
/*顶部导航栏地址北京*/
.top_nav .top_navaddr .addr_title{
	position:relative;
	left:205px;
	width:40px;
	text-align:center;
}
.top_nav .top_navaddr:hover .addr_title{
	background:white;
}
/*顶部导航栏全部地址*/
.top_nav .top_navaddr .addr_menu{
	position:absolute;
	z-index:20;
	background:white;
	width:320px;
	height:320px;
	display:none;
	z-index:20;
	left:285px;
}
/*鼠标滑过顶部导航栏全部地址显示*/
.top_nav .top_navaddr:hover .addr_menu{
	display:block;
}
.top_nav .top_navaddr .addr_menu .menu{
	margin:12px 12px 12px 20px;
}
.top_nav .top_navaddr .addr_menu .menu a{
	padding:10px;
}
.addr_title a:hover{
	color:#999999;
}
.top_nav .top_navaddr .addr_menu .menu .menu_beijing{
	color:white;
	background:red;
}
.top_nav .top_navaddr .addr_menu .menu a:hover{
	color:red;
	background:#F0F3EF;
}
/*顶部导航栏文字*/
.top_nav span{
	padding-right:7px;
	color:#999999;
	font-size:12px;
}
.top_spanone{
	padding-left:420px;
}
.top_nav .nav_free{
	color:red;
}
/*我的京东 定位*/
.myjd{
	display:inline-block;
}
.top_myjdmenu{
	width:260px;
	height:280px;
	background:white;
	position:absolute;
	left:768px;
	display:none;
	z-index:100000;
	box-shadow:0 2px 2px 2px #ccc;
}
.myjd:hover .top_myjdmenu{
	display:block;
}
.myjd:hover .myjdword{
	background:white;
}
.myjdone{
	margin:20px;
}
.myjdone a{
	padding-right:45px;
}
/*企业采购定位*/
.company{
	display:inline-block;
}
.company:hover .company_buy{
	display:block;
}
.company:hover .companyword{
	background:white;
}
.company_buy{
	width:260px;
	height:120px;
	background:white;
	position:absolute;
	left:934px;
	display:none;
	z-index:100000;
	box-shadow:0 2px 2px 2px #ccc;
}
/*客户服务定位*/
.customer{
	display:inline-block;
}
.customer:hover .customer_buy{
	display:block;
}
.customer:hover .customerword{
	background:white;
}
.customer_buy{
	width:170px;
	height:250px;
	background:white;
	position:absolute;
	left:925px;
	display:none;
	z-index:100000;
	line-height:23px;
	box-shadow:0 2px 2px 2px #ccc;
}
.cust_word .cust_p{
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	margin-top:10px;
}
.cust_word a{
	padding-top:0;
	padding-left:10px;
}
/*网站导航定位*/
.webnav{
	display:inline-block;
}
.webnav:hover .web_nav{
	display:block;
}
.webnav:hover .webnav_word{
	background:white;
}
.web_nav{
	width:1190px;
	height:180px;
	background:white;
	position:absolute;
	left:81px;
	display:none;
	z-index:100000;
	line-height:23px;
	box-shadow:0 2px 2px 2px #ccc;
}
.webnav_word .web_p{
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}
.web_ul{
	margin-left:10px;
	margin-right:13px;
	float:left;
}
.webnav_word li{
	font-size:12px;
	color:#888;

}
.webnav_word li:hover{
	color:red;
}
.webnav_word{
	float:left;
	width:364px;
	height:165px;
	margin-top:10px;
	border-right:1px solid #eee;
}
.webnav_word2{
	width:260px;
}
.webnav_word4{
	border:0;
	width:260px;
}
/*手机京东二维码*/
.phone_erweima{
	width:65px;
	height:65px;
	border:1px solid #ccc;
	position:absolute;
	left:1200px;
	z-index:999;
}
/*整体页面*/
.main_page{
	width:1190px;
	height:14450px;
	background:#F0F3EF;
	margin:0 auto;
	position:relative;
}
/*头部导航栏*/
.header_nav{
	width:1190px;
	height:161px;
	background:#F0F3EF;
	margin:0 auto;
	position:relative;
}
/*左上侧正方形logo*/
.jddog{
	width:190px;
	height:190px;
	position:absolute;
	left:0;
	top:-30px;
	box-shadow:1px 0 1px 1px #ccc;
	float:left;
}
/*搜索框*/
.header_search{
	position:absolute;
	width:550px;
	height:35px;
	border:1px solid #ccc;
	background:white;
	top:25px;
	left:320px;
}
.sear_input{
	float:left;
	width:445.28px;
	height:35px;
}
/*搜索框文本框*/
.text_search{
	width:440px;
	height:35px;
	border:0;
	padding-left:8px;
	font-size:16px;
	color:#eeeeee;
	float:left;
}
/*字体图标照相机放大镜*/
.zhaoxiangji{
	display:inline-block;
	width:50px;
	height:35px;
	background:white;
	color:#999999;
	text-align:center;
	line-height:35px;
}
.fangdajing{
	display:inline-block;
	width:50px;
	height:35px;
	background:#F10215;
	color:white;
	text-align:center;
	line-height:35px;
}
.icon-zhaoxiangji,.icon-fangdajing{
	font-size:24px;
}
/*头部购物车*/
.header_cart{
	position:absolute;
	right:92px;
	top:25px;
	width:190px;
	height:36px;
}
.cart_title{
	width:188px;
	height:36px;
	border:1px solid #ccc;
	background:white;
	text-align:center;
	line-height:35px;
	z-index:11111;
	position:absolute;
	color:red;
}
.cart_menu{
	position:absolute;
	width:310px;
	height:70px;
	background:white;
	border:1px solid #ccc;
	right:0;
	top:36px;
	z-index:9;
	display:none;
	text-align:center;
	line-height:70px;
}
.header_cart:hover .cart_title{
	border-bottom:0;
}
.header_cart:hover .cart_menu{
	display:block;
}
/*搜索框下部导航*/
.header_smallnav{
	width:485px;
	height:20px;
	position:absolute;
	top:60px;
	left:320px;
}
.header_smallnav .threecnew{
	color:red;
}
.header_bignav{
	width:800px;
	height:20px;
	position:absolute;
	left:250px;
	bottom:10px;
}
.header_bignav a{
	color:#333333;
	font-size:14px;
	padding-right:20px;
}
.header_bignav span{
	color:#ccc;
}
.header_lastpic{
	position:absolute;
	width:190px;
	height:40px;
	right:0;
	bottom:10px;
}
/* 选项卡 轮播图 */
.body_pic{
	width:1190px;
	height:480px;
}
/*选项卡*/
.tab_pic{
	width:190px;
	height:480px;
	background:white;
	margin-top:0;
	float:left;
	position:relative;
}
/*选项卡字体大小*/
.tab_pic a{
	font-size:14px;
	color:#555555;
}
.tab_pic a:hover{
	color:red;
}
.tab_ul li{
	width:180px;
	height:28.2px;
	line-height:28.2px;
	padding-left:10px;
	
}
.tab_ul li:hover{
	background:#DEDEDE;
}
/*xuanxiangka*/
#tab_ul .tab_act{
	background: #66ff99;
}


#tab_cont div{
	width:1000px;
	height:480px;
	background: white;
	display: none;
	box-shadow:0 1px 1px 1px #ccc;
	position: absolute;
	left:190px;
	top: 1px;
	z-index:3;
}
/*默认内容1显示*/
#tab_cont .tab_show{
	display: block;
}
/*选项卡里的内容*/
.cont_ul1{
	height:25px;
	width:1000px;
	display:block;
	padding-top:20px;
}
.cont_ul1 li{
	width:;
	background:black;
	float:left;
	line-height:25px;
	margin-left:10px;
	color:white;
	font-size:12px;
}
.cont_ul1 li:hover{
	opacity:0.6;
	background:black;
	color:white;
	cursor:pointer;
}
.cont_ul2{
	margin-bottom:20px;
}
.cont_ul2 a:nth-of-type(1){
	color:black;
}
.cont_ul2 a{
	font-size:12px;
	padding-left:10px;
	color:#999;
}
/*轮播图*/
.lun_pic{
	width:590px;
	height:470px;
	margin-top:10px;
	margin-left:10px;
	float:left;
	position: relative;
}
#lun_pic .lun_img li img{
	width: 590px;
	height: 470px;
}
/*指定显示 其余隐藏*/
#lun_pic .lun_img li{
	display: none;
}
#lun_pic .lun_img .lun_show{
	display: block;
}
/*数字*/
.lun_num{
	position: absolute;
	bottom: 10px;
	left: 10%;
}
.lun_num li{
	float: left;
	margin:0px 10px;
	font-size: 20px;
	color:white;
}
/*指定背景li*/
.lun_num .lun_show{
	color:#f60;
}
/*箭头*/
.lun_left,.lun_right{
	position: absolute;
	width: 30px;
	height: 40px;
	background: #000;
	top: 210px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	display:none;
	line-height: 40px;
	opacity: 0.8;
	z-index:20;
}
#lun_ltr .lun_right{
	right: 0;
}
/*轮播图右侧三个图*/
.adthree_pic{
	width:190px;
	height:470px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.adthree_pic img{
	padding-bottom:6px;
}
.adthree_pic img:hover{
	opacity:0.8;
}
/*欢迎登录*/
.user_pic{
	width:190px;
	height:470px;
	background:white;
	float:right;
	margin-left:10px;
	margin-top:10px;
	position:relative;
}
/*用户头像*/
.user_img{
	width:70px;
	height:70px;
	border-radius:50%;
	box-shadow:2px 2px 2px 2px #555;
	margin:-5px auto;
	overflow:hidden;
}
.user_img img{
	width:100%;
	height:100%;
}
/*欢迎用户*/
.user_welcome{
	margin:10px 0;
	text-align:center;
	color:#999;
	font-size:12px;
}
/*登录*/
.user_login{
	text-align:center;
}
.user_login a{
	padding:3px;
	font-size:12px;
}
/*新人福利 plus会员*/
.user_new,.user_vip{
	width:70px;
	height:30px;
	border-radius:40px/30px;
	box-shadow:0 4px 5px 5px #eee;
	font-size:12px;
	text-align:center;
	line-height:30px;
	float:left;
	margin:15px auto;
}
.user_new{
	margin:15px 5px 15px 20px;
	color:#E83632;
}
.user_vip{
	background:black;
	color:#E5D779;
}
/*促销 公告*/
.user_mid .user_sale,.user_pub{
	display:inline-block;
	width:50px;
	height:18px;
	font-size:12px;
	text-align:center;
	line-height:20px;
}
.user_mid span{
	color:#ccc;
}
.user_mid a{
	padding-left:40px;
}
/*促销 公告 新闻*/
.user_mid .sale_news,.pub_news{
	width:190px;
	height:100px;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
	margin-bottom:10px;
}

.sale_big1,.sale_big2{
	display:inline-block;
	position:relative;
}
.sale_news{
	position:absolute;
	left:0;
	top:20px;
	z-index:0;
}
.pub_news{
	position:absolute;
	left:-63px;
	top:20px;
	z-index:190;
	display:none;
}
.sale_big1:hover .user_sale{
	border-bottom:2px solid red;
}
.sale_big2:hover .user_pub{
	border-bottom:2px solid red;
}
.sale_big1:hover .sale_news{
	display:block;
}
.sale_big2:hover .pub_news{
	display:block;
}
.sale_big2:hover .sale_news{
	display:none;
}
.user_mid .sale_news li{
	font-size:12px;
	color:#333;
	padding:5px;
}
.user_mid .sale_news li:hover{
	color:red;
}
.user_mid .pub_news li{
	font-size:12px;
	color:#333;
	padding:5px;
}
.user_mid .pub_news li:hover{
	color:red;
}
.user_icon{
	position:absolute;
	top:298px;
	left:0;
}
/*秒杀*/
.second_kill{
	width:1190px;
	height:275px;
	margin:30px auto;
	position:relative;
}
.kill{
	width:197px;
	height:275px;
	background:white;
	border:0.6px solid #ccc;
	text-align:center;
}
.kill img:hover{
	opacity:0.8;
}

/*点击滑动*/
#dian{
	width: 800px;
	height: 275px;
	overflow: hidden;
	float:left;
	position:relative;
}
#dian ul{
	width:2364px;
	height: 275px;
	transition:linear 0.5s;
	position:absolute;
	left:0;
}
#dian ul li{
	width:197px;
	height:275px;
	float:left;
}
#left,#right{
	width: 30px;
	height: 60px;
	position: absolute;
	top: 100px;
	text-align:center;
	line-height:67px;
	background:#ccc;
	opacity:0.8;
}
#left{
	left:196px;
}
#left:hover{
	cursor:pointer;
}
#right{
	left: 956px;
}
#right:hover{
	cursor:pointer;
}
.zuojiantou,.youjantou{
	font-size:34px;
	font-weight:900;
	color:black;
}
/*倒计时*/
.flash_deals{
	background:#E83632;
	float:left;
}
.flash_deals .jd_sec{
	width:197px;
	height:40px;
	line-height:40px;
	color:white;
	font:bold 35px 微软雅黑;
	padding-top:40px;
	text-align:center;
}
.flash_deals .jd_secword{
	width:197px;
	height:18px;
	text-align:center;
	padding-top:10px;
	font: 20px arail;
	color:#ddd;
}
.jd_lighting{
	width:197px;
	height:40px;
	text-align:center;
	margin-top:12px;
}
.jd_leave{
	font:18px 微软雅黑;
	color:white;
	width:197px;
	height:20px;
	text-align:center;
	margin-top:5px;
}
.kill_left{
	float:left;
}
.kill_right{
	float:right;
}
/*倒计时时间*/
#time_out{
	width:126px;
	height:60px;
	margin:10px auto;
	background:#E83632;
	color:white;
	font-size:20px;
}
.time_box{
	width:40px;
	height:40px;
	background:black;
	text-align:center;
	line-height:40px;
}
.time_boxleft{
	float:left;
	margin-right:3px;
}
.time_boxright{
	float:right;
}
/*中间四个div*/
.kill_mid img{
	padding:20px;
}
.kill_word{
	font-size:12px;
	color:#222;
}
.kill_sale{
	width:200px;
	height:20px;
	margin-top:20px;
}
.sale_old{
	width:78px;
	border:1px solid #E6382F;
	height:18px;
	background:#E6382F;
	color:white;
	font-size:12px;
	float:left;
	text-align:center;
	margin-left:20px;
}
.sale_new{
	width:78px;
	border:1px solid #E6382F;
	height:18px;
	background:white;
	color:#777;
	font-size:12px;
	float:left;
	text-align:center;
	text-decoration:line-through;
}
/*中间8个div轮播 每次显示四个*/

/*最右侧轮播*/
.second_kill .kill5{
	position:absolute;
	right:0;
	top:0;
}
.kill5_small{
	width:180px;
	height:253px;
	background:#F0F3EF;
	margin:10px auto;
	position:relative;
}
.kill_lunshow img{
	width:180px;
	height:250px;
}
.kill_lunhd img{
	width:180px;
	height:250px;
}
.kill_lunnum{
	position:absolute;
	left:75px;
	bottom:10px;
}
.kill_lunnum li{
	display:inline;
}
.kill_lunnum .kill_lunnumshow{
	color:#f60;
	font:bold 17px 微软雅黑;
}
.kill_lunhd{
	display:none;
}
/*div*/
.ranking_list{
	width:1190px;
	height:450px;
	margin-bottom:30px;
}
.ranking_list img:hover{
	opacity:0.8;
}
.rank_list{
	width:390px;
	height:450px;
	background:white;
	overflow:hidden;
}
/*排行榜第一个div*/
.list_word{
	margin-top:20px;
	margin-left:20px;
}
.list_word .span1{
	font-size:26px;
}
.list_word .span2{
	font-size:12px;
	color:#555;
}
/*排行榜选项卡*/
.list_tab{
	position:absolute;
	width:390px;
	height:390px;
	/*background:red;*/
}
.paihang{
	width:390px;
	height:450px;
	margin-top:0;
	margin-left:0;
}
.spanandi{
	margin-top:20px;
	margin-left:10px;
}
.list_title ul{
	background:#F7F7F7;
	width:390px;
	height:33px;
}
.list_title li{
	float:left;
	width:78px;
	height:33px;
	font-size:13px;
	color:#777;
	text-align:center;
	line-height:33px;
}
.list_title li:hover{
	cursor:pointer;
}
.list_title .list_cur{
	color:red;
}
.list_con{
	width:390px;
	height:320px;
	margin-top:33px;
}
.list_con li{
	width:390px;
	height:320px;
	/*background:green;*/
	overflow:hidden;
}
.con_hide{
	display:none;
}
/*排行榜第二个div 会买 轮播图*/
.huimai_word{
	width:300px;
	height:50px;
	margin:20px 0 5px 0px;
}
#huimai2{
	width:350px;
	height:360px;
	background:#fff;
	margin:3px 15PX;
	position:relative;
}
.huimai_lun{
	overflow:hidden;
	width:350px;
	height:350px;
}
.huimai_lunshow img{
	width:350px;
	height:350px;
}
.huimai_lunhd img{
	width:350px;
	height:350px;
}
.huimai_lunnum{
	position:absolute;
	left:155px;
	bottom:-60px;
}
.huimai_lunnum li{
	display:inline;
}
.huimai_lunnum .huimai_lunnumshow{
	color:#f60;
	font:bold 17px 微软雅黑;
}
.huimai_lunhd{
	display:none;
}
/*券 轮播图*/
#quan{
	width:350px;
	height:360px;
	background:#fff;
	margin:3px 15PX;
	position:relative;
}
.quan_lun{
	overflow:hidden;
	width:350px;
	height:350px;
}
.quan_lunshow img{
	width:350px;
	height:350px;
}
.quan_lunhd img{
	width:350px;
	height:350px;
}
.quan_lunnum{
	position:absolute;
	left:155px;
	bottom:-60px;
}
.quan_lunnum li{
	display:inline;
}
.quan_lunnum .quan_lunnumshow{
	color:#f60;
	font:bold 17px 微软雅黑;
}
.quan_lunhd{
	display:none;
}
.shishang{
	width:390px;
	height:450px;
	background:#F0F3EF;
	position:relative;
}
.shishang_border{
	width:340px;
	height:420px;
	border:5px solid black;
	position:absolute;
	bottom:0;
	right:0;
}
.shishang_pic{
	z-index:99;
	position:absolute;
	left:20px;
	background:white;
	width:340px;
	height:420px;
}
.two_border{
	z-index:99;
	position:absolute;
	left:20px;
	background:#F0F3EF;
	width:340px;
	height:420px;
}
.twoborder_img{
	padding-bottom:16px;
}
.shishang2_border{
	width:340px;
	height:420px;
	border:5px solid black;
	position:absolute;
	bottom:0;
	left:0;
}
.rank_yuanqi{
	width:390px;
	height:450px;
}
.yuanqi_div1{
	margin-bottom:10px;
}
.yuanqi_div{
	width:390px;
	height:220px;
	background:white;
}
.yuanqi_word{
	width:300px;
	height:25px;
	padding-left:20px;
	padding-top:20px;
}
.yuanqi_span1{
	font-size:20px;
}
.yuanqi_span2{
	font-size:14px;
	color:#777;
}
.yuanqi_img{
	padding-left:20px;
	padding-top:15px;
}
.rank_left{
	float:left;
	margin-right:10px;
}
.rank_right{
	float:right;
}
.coach_word{
	margin-left:5px;
	line-height:58px;
	margin-top:5px;
	height:58px;
}
.coach_img{
	float:left;
	margin-left:10px;
	margin-top:5px;
}
.coach_shop{
	float:left;
	margin-top:5px;
	margin-left:10px;
}
.coach_pic{
	margin:0 auto;
	text-align:center;
}

/*觅me 轮播图*/
#meme{
	width:350px;
	height:360px;
	background:#fff;
	margin:3px 15PX;
	position:relative;
}
.meme_lun{
	overflow:hidden;
	width:350px;
	height:350px;
	margin-left:8px;
}
.meme_lunshow img{
	width:350px;
	height:250px;
}
.meme_lunhd img{
	width:350px;
	height:250px;
}
.meme_span1{
	height:20px;
	display:inline-block;
	text-align:center;
	margin:10px auto;
}
.meme_span2{
	font-size:14px;
	color:#777;
}
.meme_lunnum{
	position:absolute;
	left:155px;
	bottom:-60px;
}
.meme_lunnum li{
	display:inline;
}
.meme_lunnum .meme_lunnumshow{
	color:#f60;
	font:bold 17px 微软雅黑;
}
.meme_lunhd{
	display:none;
}
/*发现好货*/
.good_div{
	width:175px;
	height:180px;
	float:left;
	margin-left:0;
	text-align:center;
}
.good_span1{
	color:#3E8C96;
	font-size:15px;
}
.good_span2{
	font-size:12px;
	color:#777;
}
.good_span1:hover{
	color:red;
}
.good_span2:hover{
	color:red;
}

/*特色推荐 轮播图*/
.tuijian{
	margin-top:10px;
}
/*轮播图*/
.spe_lun{
	width:1190px;
	height:330px;
	margin:30px auto;
	position: relative;
	background:#F0F3EF;
	\
}
/*指定显示 其余隐藏*/
#spe_lun .spe_img li{
	display: none;
	background:#F0F3EF;
}
#spe_lun .spe_img .spelun_show{
	display: block;
}
/*数字*/
.spelun_num{
	position: absolute;
	bottom: -20px;
	left: 530px;
}
.spelun_num li{
	float: left;
	margin:0px 10px;
	font-size: 20px;
	color:black;
}
/*指定背景li*/
.spelun_num .spelun_show{
	color:#f60;
}
/*箭头*/
.spelun_left,.spelun_right{
	position: absolute;
	width: 20px;
	height: 40px;
	background: #999;
	top: 170px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	/*display:none;*/
	line-height: 40px;
	opacity: 0.8;
	z-index:20;
}
.spelun_left:hover{
	cursor:pointer;
}
.spelun_right:hover{
	cursor:pointer;
}
#spelun_ltr .spelun_right{
	right: 0;
}
/*轮播图内的三个div*/
.spe_div{
	width:390px;
	height:330px;
	background:white;
}
.spe_div
.spe_divleft{
	float:left;
	margin-right:10px;
}
.spe_divright{
	float:right;
}
.wword{
	margin:0 auto;
}
.sspan{
	font-size:22px;
}
/*时尚达人 智能先锋...文字*/
.fashion_people{
	width:1190px;
	height:40px;
	margin-bottom:20px;
	text-align:center;
	font-weight:bold;
	font-size:28px;
}
.fashion_people span{
	padding:0 10px;
}
/*JOY 寻宝*/
.joy_treasure img:hover{
	opacity:0.9;
} 
.joy_treasure{
	width:1190px;
	height:240px;
	margin:10px auto;
}
.treasure{
	width:390px;
	height:240px;
	background:white;
	overflow:hidden;
}
.treasure_left{
	float:left;
	margin-right:10px;
}
.treasure_right{
	float:right;
}
/*特色推荐*/

/*330px为div 30px为按钮(背景颜色为灰色)
/*京东直播*/
.now_video img:hover{
	opacity:0.9;
}
.now_video{
	width:1190px;
	height:425px;
	margin:10px auto;
}
.now_div{
	width:390px;
	height:425px;
	background:white;
	text-align:center;
}
.now_div img{
	padding-top:12px;
	padding-left:9px;
}
.now_left{
	float:left;
	margin-right:10px;
}
.now_right{
	float:right;
}
/*还没逛够*/
.still_buy{
	width:1190px;
	height:305px;
	margin:0 auto;
	background:#F0F3EF;
}
.still_div{
	width:230px;
	height:305px;
	background:white;
	margin-bottom:10px;
	overflow:hidden;
}
.still_div:hover{
	opacity:0.8;
	cursor:pointer;
}
.still_left{
	float:left;
	margin-right:10px;
}
.still_right{
	float:right;
}
.save_float{
	width:1190px;
	height:210px;
	margin:0 auto;
	background:#F0F3EF;
}
/*主页底部*/
.main_footer{
	margin:10px auto;
	width:1190px;
	height:75px;
}
/*footer*/
.footer_boxone{
	width:1190px;
	height:198px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0 auto;
}
.boxone_detail{
	width:1190px;
	height:160px;
	margin:19px auto;

}
.box_word{
	width:200px;
	height:160px;
	float:left;
}
.box_ul h5{
	color:#222;
}
.box_ul li{
	font-size:12px;
	color:#555;
	padding-top:7px;
}
.box_right{
	float:right;
	width:190px;
	height:160px;
	text-align:center;
}
.box_right .box_p{
	font-size:12px;
	color:#555;
	padding-top:20px;
	text-align:left;
}
.box_right .box_pp{
	font-size:12px;
	color:#555;
	text-align:right;
}
/*最底部*/
.footer_boxtwo{
	width:1190px;
	height:265px;
	margin:20px auto;
}
.footer_word{
	text-align:center;
}
.footer_topword a{
	color:#555;
}
.footer_pol{
	margin-top:15px;
}
.footer_bottom{
	width:1190px;
	height:35px;
	margin:40px auto;
}
.fbottom_imgone{
	float:left;
	margin-left:330px;
	width:36px;
	height:35px;
}
.fbottom_img{
	float:left;
	margin-left:20px;
	width:36px;
	height:35px;
}
.fbottom_word{
	font-size:13px;
	color:#444;
	float:left;
	margin-left:5px;
}
.fbot_speword{
	text-align:center;
	width:60px;
	height:35px;
	line-height:35px;
}